#
# Ignore all OpenBD bak file and work directories
#
./examples/WEB-INF/bluedragon/bluedragon.xml.bak.*
./examples/WEB-INF/bluedragon/work/**


#
# Ignore everything tool or server related.
#
bin/**
tomcat
naturaldocs
dist/**
build/**
